* {
  box-sizing: border-box;
}

#startPage, #finalPage {
	text-align: center;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

.button {
	padding: 5px;
}

#questionOne, .questionHeader, #questionTwo, #questionThree, #questionFour, #questionFive, #finalPage {
	display: none;
}